:host {
  display: block;
}
table {
  min-width: 52rem;
}
.mat-column-type {
  width: 6rem;
}
.mat-column-nom {
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}
.mat-column-etat {
  width: 9rem;
}
.mat-column-engagement,
.mat-column-cloture {
  width: 12rem;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}
.mat-column-actions {
  width: 16rem;
}
