:host {
  display: block;
}
table {
  min-width: 60rem;
}
.mat-mdc-header-cell,
.mat-mdc-cell {
  padding-block: 0.75rem;
}
.mat-mdc-header-cell:first-child,
.mat-mdc-cell:first-child {
  padding-inline-start: 1.5rem;
}
.mat-mdc-header-cell:last-child,
.mat-mdc-cell:last-child {
  padding-inline-end: 1rem;
}
.mat-column-identite {
  min-width: 12rem;
}
.mat-column-matricule {
  white-space: nowrap;
}
.mat-column-natures {
  overflow-wrap: break-word;
}
.mat-column-postes {
  min-width: 13rem;
  overflow-wrap: break-word;
}
.mat-column-tauxHoraire {
  padding-inline-end: 1.5rem;
  text-align: end;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}
.mat-mdc-cell.mat-column-actions {
  padding-block: 0.375rem;
}
.mat-column-actions {
  width: 13rem;
}
