.comparaison {
  display: grid;
  overflow-wrap: anywhere;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 1rem;
}
@media (max-width: 47.999rem) {
  .comparaison {
    grid-template-columns: minmax(0, 1fr);
  }
}
