:host {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: auto;
  height: 100%;
  max-width: 8rem;
  object-fit: contain;
  border-radius: 6px;
}

.repli {
  width: 1.75rem;
  height: 1.75rem;
}
